<div class="head_wrapper" onclick="Nice.field.toggleSelector( this )">

    <span
            class="input <%- field['field_class'] %>"
            <% if (field['editable']) {
                contenteditable = "true"
            } else {
                contenteditable = "false"
            } %>
            spellcheck="<%- field['spellcheck'] %>"
            data-type="select"
            data-name="<%- field['name'] %>"
            data-value="<%- field['value'] %>"
            data-validation="<%- field['validation'] %>"
            data-placeholder="<%- field['placeholder'] %>"
            data-required="<%- field['required'] %>"
            data-callback="<%- field['callback'] %>"
            data-select_type="<%- field['select_type'] %>"
            data-data_format="<%- field['data_format'] %>"
    <% if ( field['editable'] ) { %>
            oninput="Nice.field.searchList(this)"
            <% } %>

    >
        <% if ( field['content'] ) { %>
            <%- field['content'] %>
        <% }  else if(field['label']) { %>
            <%- field['label'] %>
        <% } %>
    </span>

    <span class="selector_arrow SelectorArrow">
        <%- Nice.svg({'id': 'arrow_down', 'size': 'micro'}); %>
    </span>

    <span class="field_icon FieldIcon">
        <%- Nice.svg(field['icon']); %>
    </span>

</div>

<div class="selections_list SelectionsList <%- field['select_type'] %>">

    <% jQuery.each(field['selections'], function (i, element) { %>

        <div
                class="selection_list__element <% if (field['value'] === element['value']) {
                    ' checked'
                } %>"
                onclick="Nice.field.chooseThis(this)"
                data-value="<%- element['value'] %>"
        <% if ( element['name'] ) { %>
                data-name="<%- element['name'] %>"
                <% } %>
        <% if ( element['color'] ) { %>
                style="border-left:3px solid <% element['color'] %> "
                <% } %>
        >
            <span class="selection_list__element_icon">
                <%- Nice.svg(element['icon']); %>
            </span>

            <span class="selection_list__element_text"><%- element['text'] %></span>

            <% if ( field['checkboxes'] ) { %>
                <span class="selection_list__element_check">
                    <%- Nice.svg( { 'id': 'check', 'size': field['size'] } ); %>
                </span>
            <% } %>

        </div>

    <% }); %>

</div>