<div class="nice_field NiceField <%- field['class']; %> <%- field['size']; %>">

    <span class="label"><%- field['label']; %></span>
    <div class="area">
        <input
                class="input <%- field['field_class']; %>  <% if ( field['icon'] ) { %>with_icon<% } %>"
                spellcheck="<%- field['spellcheck']; %>"
                type="<%- field['type']; %>"
                name="<%- field['name']; %>"
                data-validation="<%- field['validation']; %>"
                placeholder="<%- field['placeholder']; %>"
                data-required="<%- field['required']; %>"
                value="<%- field['value']; %>"
        >
        <% if ( field['icon'] ) { %>
            <span class="nice_svg <%- field['icon_class']; %> <%- field['size']; %>">
            <svg><use href="#<%- field['icon']; %>"></use></svg>
        </span>
        <% } if ( field['validation'] !== 'false' ) { %>
            <span class="success_icon"><svg><use href="#check"></use></svg></span>
            <span class="error_icon"><svg><use href="#close"></use></svg></span>
        <% } %>
    </div>
    <% if ( field['validation'] !== 'false' ) { %>
        <span class="error_message"><%- field['error_message']; %></span>
    <% } %>

</div>